body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:200px;
  top:-4px;
  width:1600px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:200px;
  top:0px;
  width:1600px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u5 {
  position:absolute;
  left:1731px;
  top:5px;
  width:60px;
  height:40px;
  font-size:18px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7 {
  position:absolute;
  left:1605px;
  top:5px;
  width:88px;
  height:40px;
  font-size:18px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:-10px;
  width:200px;
  height:970px;
}
#u12 {
  position:absolute;
  left:2px;
  top:477px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:144px;
  width:200px;
  height:400px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:406px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:405px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u17 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u19 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u21 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u23 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:250px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u27 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:350px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:200px;
  top:350px;
  width:200px;
  height:100px;
  visibility:hidden;
}
#u31_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:106px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:105px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u35 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:144px;
  font-size:18px;
}
#u38 {
  position:absolute;
  left:2px;
  top:64px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u39 {
  position:absolute;
  left:19px;
  top:30px;
  width:163px;
  height:20px;
  font-size:18px;
  text-align:center;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:200px;
  top:22px;
  width:269px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:34px;
  top:106px;
  width:37px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u46 {
  position:absolute;
  left:77px;
  top:110px;
  width:19px;
  height:13px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u48 {
  position:absolute;
  left:34px;
  top:126px;
  width:62px;
  height:1px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
