body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:290px;
}
#u9332 {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:290px;
}
#u9333 {
  position:absolute;
  left:2px;
  top:137px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:277px;
}
#u9334 {
  position:absolute;
  left:0px;
  top:290px;
  width:910px;
  height:277px;
}
#u9335 {
  position:absolute;
  left:2px;
  top:130px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:201px;
}
#u9336 {
  position:absolute;
  left:0px;
  top:567px;
  width:911px;
  height:201px;
}
#u9337 {
  position:absolute;
  left:2px;
  top:92px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:220px;
}
#u9338 {
  position:absolute;
  left:0px;
  top:768px;
  width:917px;
  height:220px;
}
#u9339 {
  position:absolute;
  left:2px;
  top:102px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:71px;
}
#u9340 {
  position:absolute;
  left:0px;
  top:998px;
  width:904px;
  height:71px;
}
#u9341 {
  position:absolute;
  left:2px;
  top:28px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
